
/*body {*/
/*    background-color: white;*/
/*}*/
/*.picture {*/
/*    width: 450px;*/
/*}*/

img{
    width: 500px;
    height: 300px;
    margin-top: 40px;
}

a{
    text-align: center;
}
.gif {
    width: 400px;
}
p {
    color: white;
}
body {
    color: black;
     text-indent: 10px;
}
li {
    text-indent: 10px;
    font-style: normal;
    font-size: 20px;
}
body {
    font-size: 20px;
}
h2 {
    font-size: 20px;
<<<<<<< HEAD
    text-indent: 10px;
=======
    text-indent: 4px;
>>>>>>> 831753ab10703b2e610a90d5cab1d4e80a8bdffd
    font-family: 'Orbitron', sans-serif;
}

.imagesContainer{
    margin-top: 40px;
    margin-bottom: 40px;
}
.nfllogo {
    width: 400px;
}
