body {
    font-size: 22px;
}

h1 {
    color: orange;
}
.melo {
    width: 500px;
    height: 400px;
}
.dunk {
    width: 500px;
    height: 400px;
}
p {
    font-family: times;
    font-size: 22px;
    margin-left: 4px;
}